spring:
  profiles:
    active: local

  jpa:
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: prometheus
      base-path: /api/actuator

decorator:
  datasource:
    p6spy:
      enable-logging: false
