===== Path Variables
|===
|Description|Constraint|Example

{{#parameters}}

|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#constraints}}{{.}}{{/constraints}}{{/tableCellContent}}
|{{#tableCellContent}}{{#pathVariableExample}}{{.}}{{/pathVariableExample}}{{/tableCellContent}}

{{/parameters}}
|===
